﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.ConocimientoIndexModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">CONOCIMIENTOS   </h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Demanda</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var conocimiento in Model.Conocimientos)
                        {
                            <tr>
                                <td>@conocimiento.ID</td>
                                <td>@conocimiento.Nombre</td>
                                <td>@conocimiento.Demanda</td>
                                <td>
                                    <a href="/Conocimiento/Edit/@conocimiento.ID" title="Editar" class="btn btn-toolbar">
                                        <label class="btn btn-dropbox"><i class="fa fa-edit"></i> Editar</label>

                                        <a href="/Conocimiento/delete/@conocimiento.ID" title="borrar" class="btn btn-toolbar">
                                            <label class="btn btn-default"><i class="fa fa-remove"></i> Borrar</label>

                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="/Conocimiento/New/@Model.IdCategoria" title="Nuevo" type="button" class="btn btn-success">
                                    Nuevo
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}


