﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.CapacitacionIndexModel

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Capacitaciones</h3>

                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width: 20px">#</th>
                            <th>Direccion</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Duracion</th>
                            <th>Estado</th>
                            <th>Precio</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Temas</th>
                            <th>Instructores</th>
                        </tr>
                        @foreach (var capa in Model.Capacitaciones)
                        {
                            <tr>
                                <td>@capa.Id</td>
                                <td>Calle:@capa.Calle Nro:@capa.Numero Depto:@capa.Depto Piso:@capa.Piso</td>
                                <td>@capa.Minimo</td>
                                <td>@capa.Maximo</td>
                                <td>@capa.Duracion</td>
                                <td>@capa.Estado</td>
                                <td>@capa.Precio</td>
                                <td>@capa.Inicio.ToShortDateString()</td>
                                <td>@capa.Fin.ToShortDateString()</td>

                                <td> <a href="/capacitaciones/Temas/@capa.Id" title="Editar" class="btn btn-primary">
                                    Temas
                                </a> </td>
                                <td> <a href="/capacitaciones/NewInstructor/@capa.Id" title="Editar" class="btn btn-primary">
                                    Instructores
                                </a> </td>

                                <td>
                                    <a href="/capacitaciones/edit/@capa.Id" title="Editar" class="btn btn-primary">
                                        Editar
                                    </a>
                                    <a href="/capacitaciones/delete/@capa.Id" title="borrar" class="btn btn-danger">
                                        Borrar
                                    </a>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td></td>

                            <td colspan="11">
                                <a href="/capacitaciones/new" title="Nuevo" class="btn btn-primary">
                                    Nuevo
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}


